.pub {
  width: 100%;
  aspect-ratio: 1/1;
  display: block;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  &:hover {
    img {
      transform: scale(1.05);
    }
  }
  &__title {
    position: absolute;
    isolation: isolate;
    color: var(--color-light);
    font-weight: 800;
    font-style: Italic;
    line-height: 115%;
    letter-spacing: -0.05em;
    text-align: center;
    font-size: 56px;
    font-size: clamp(30px, 2.8vw + 16px, 56px);
    top: 50%;
    transform: translateY(-50%);
    padding: 120px 32px;
    max-width: 364px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 5;
    @include media-breakpoint-down(lg) {
      font-size: 2rem;
    }
    &::after {
      content: "";
      position: absolute;
      inset: -40%;
      z-index: -1;

      background: radial-gradient(
        60% 60% at 50% 55%,
        rgba(226, 7, 20, 0.85) 0%,
        rgba(226, 7, 20, 0.55) 40%,
        rgba(226, 7, 20, 0.25) 65%,
        rgba(226, 7, 20, 0) 100%
      );

      filter: blur(40px);
      opacity: 0.9;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(29, 29, 27, 0) 0%,
      rgba(29, 29, 27, 0.6) 100%
    );
  }
  &::after {
    content: "";
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    width: 72px;
    height: 40px;
    background-image: url(../images/content/decore-pub.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 5;
    margin: 0 auto;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
    position: relative;
    z-index: -1;
  }
}
