<div class="mb-lg-16 mb-8">
  <div class="container">
    <div class="row g-6 justify-content-center position-relative z-2">
      <div class="col-xl-4 col-lg-8 col-md-10">
        <a href="#" class="pub">
          <img src="images/content/bb-1.png" loading="lazy" alt="pub" />
          <div class="pub__title">BRNĚNSKÁ LAŤKA OLYMPIA</div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-8 col-md-10">
        <a href="#" class="pub">
          <img src="images/content/bb-2.png" lang="lang" alt="pub" />
          <div class="pub__title">LONG TEST HEADING FOR THE BANNER</div>
        </a>
      </div>
      <div class="col-xl-4 col-lg-8 col-md-10">
        <a href="#" class="pub">
          <img src="images/content/bb-3.png" loading="lazy" alt="pub" />
          <div class="pub__title">DALŠÍ AKCE</div>
        </a>
      </div>
    </div>
  </div>
</div>
