.partnersSlider {
  overflow: visible;

  .swiper-slide {
    width: max-content;
    a {
      position: relative;
      z-index: 5;
      background: var(--color-light);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 270px;
      height: 176px;
      border: 1px solid var(--color-light-gray);
      transition: all 0.3s;
      border-radius: 16px;
      &:hover {
        border: 1px solid var(--color-accent);
      }
    }
    img {
      object-fit: contain;
      max-width: 180px;
      width: 80%;
      height: 80%;
    }
  }
}
.infinite-scroll-swiper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
