<section class="article-section pb-lg-14 pb-8 section">
  <div class="container-md bg-white">
    <div class="article-section__top">
      <picture>
        <source
          media="(min-width: 1024px)"
          srcset="https://picsum.photos/1368/912"
          width="1440"
          height="810"
        />
        <img
          src="https://picsum.photos/684/456"
          class="h-100 w-100 object-fit-cover"
          loading="lazy"
          width="639"
          height="426"
          alt=""
        />
      </picture>
      <div
        class="d-flex z-index-2 gap-2 flex-wrap align-items-center position-absolute start-24 bottom-24 text-xxs-regular text-white"
      >
        <div>25. 04. 2025</div>
        <span class="dot">•</span>
        <div>Karel Novotný</div>
      </div>
    </div>
    <h1 class="h2 mb-lg-10 mb-6 text-primary">
      V sobotu 15. 11. se konalo Mistrovství Moravy a Slezska v přespolním běhu
    </h1>
  </div>
  <div class="container-sm bg-white">
    <div class="text-primary text-bold-md mb-lg-10 mb-6">
      V sobotu jsme se se skupinkou vytrvalců vydali do chladného Frýdku-Místku.
      Trať byla lehce zvlněná a pěkná i díky přehradě Olešná.
    </div>

    <div class="o-content">
      <p>
        Na start se postavily kategorie přípravka až po dorostence. Nejlépe
        zvládl svůj závod Vojta Sopko, který doběhl na tvrdě vybojovaném 4.
        místě. Na kilometrové distanci ukázal, že má velký potenciál do dalších
        let. Stejnou vzdálenost běžela i Aylin Dervišević, která ve velmi
        nabitém poli soupeřek vybojovala 12. pozici.
      </p>
      <p>
        Velmi kvalitní výkon předvedla Zorka Veškrnová v kategorii mladších
        žákyň, která na dvou kilometrové vzdálenosti doběhla na 5. příčce ve
        velmi kvalitním čase 7:20. Na start se postavilo padesát závodnic a
        závod rozběhly opravdu rychlým tempem. Zorka má velkou pochvalu, že se
        toho nezalekla a závod zvládla na výbornou.
      </p>
      <p>
        Ve stejné kategorii, ale v chlapecké skupině běželi dva naši hoši,
        Mikuláš Mikoška a Matěj Janošík. Miky tuto trať zvládl o trochu lépe,
        doběhl na 17. pozici a Matěj na 22. 
      </p>
      <hr />
      <h6>Historie</h6>
      <h5>Hráčska brilancia a vášeň pre hokej</h5>
      <ul>
        <li>Na výsadbu tak půjde jeden milion korun</li>
        <li>Na výsadbu tak půjde</li>
        <li>Na výsadbu tak půjde jeden milion korun</li>
        <li>Na výsadbu tak půjde</li>
        <li>Na výsadbu tak půjde jeden milion korun</li>
        <li>Na výsadbu tak půjde</li>
      </ul>
      <hr />
      <p>
        Ve starších žákyních jsme měli na startu tří kilometrů hned několik
        závodnic. Nejlépe se vedlo Nikči Putnové, která se s tratí velice dobře
        poprala a doběhla na 17. pozici. Terka Tušlová, která se u nás nově
        připravuje a snad za náš klub začne i brzy závodit, doběhla na 24.
        místě. Lili Schmausová, Anička Mikošková a Gabča Dedíková závod odběhly
        v rámci kvalitního tréninku a zaslouží pochvalu, protože bojovaly do
        posledních metrů. 
      </p>
      <p>
        Ve stejné kategorii, ale v chlapecké skupině běželi dva naši hoši,
        Mikuláš Mikoška a Matěj Janošík. Miky tuto trať zvládl o trochu lépe,
        doběhl na 17. pozici a Matěj na 22. 
      </p>
      <p>
        Mezi dorostenkami jsme měli zkušenou Kačku Kopeckou, která v nabité
        konkurenci doběhla na 11. místě. Alča Veškrnová svůj závod rozběhla až
        moc opatrně a celou dobu dotahovala ostatní závodnice. Nakonec to
        stačilo na 13. pozici. Alča si teprve krosy osahává, tak příště bude
        odvážnější. 
      </p>
      <img
        class="rounded-16 object-fit-cover w-100"
        src="https://picsum.photos/684/464"
        loading="lazy"
        alt=""
      />
      <p>
        Pred nadchádzajúcim zápasom sa tím LG zameriava na zlepšenie tímovej
        súhry a komunikácie na ľade. „Práca na detailoch je kľúčová. Musíme sa
        uistiť, že si rozumieme a dokážeme reagovať na situácie, ktoré sa na
        ľade dejú. Verím, že čím viac budeme spolu, tým lepšie budeme hrať,“
        vyjadril sa tréner LG.
      </p>
      <p>
        Každý hráč si uvedomuje, že úspech závisí aj od ich osobného výkonu.
        „Musíme sa sústrediť na to, čo môžeme zlepšiť a nesústreďovať sa len na
        víťazstvá. Dôležité sú aj jednotlivé aspekty, ako je technika a taktika,
        aby sme mohli byť konkurencieschopní,“ povedal Badalov.
      </p>
      <p>
        Súčasná atmosféra v tíme je pozitívna, ale s vedomím, že konkurencia je
        silná, je potrebné pokračovať v práci. „Je to dlhá sezóna a všetci
        vieme, že musíme byť pripravení na akékoľvek výzvy, ktoré nás čakajú,“
        dodal Badalov.
      </p>
      <table>
        <thead>
          <tr>
            <th>Datum</th>
            <th>Místo</th>
            <th>Akce</th>
            <th></th>
          </tr>
        </thead>
        <body>
          <tr>
            <td>03.01</td>
            <td>Ostrava</td>
            <td><a href="#">Zahajovací závody + SILEZIAN mítink</a></td>
            <td><a href="#">Výsledky</a></td>
          </tr>
          <tr>
            <td>03.01</td>
            <td>Praha</td>
            <td>
              <a href="#">Zahajovací závody + SILEZIAN mítink SILEZIAN mítin</a>
            </td>
            <td><a href="#">Výsledky</a></td>
          </tr>
          <tr>
            <td>03.01</td>
            <td>Ostrava</td>
            <td><a href="#">Zahajovací závody </a></td>
            <td><a href="#">Výsledky</a></td>
          </tr>
          <tr>
            <td>03.01</td>
            <td>Ostrava</td>
            <td><a href="#">Zahajovací závody + SILEZIAN mítink</a></td>
            <td><a href="#">Výsledky</a></td>
          </tr>
          <tr>
            <td>03.01</td>
            <td>Ostrava</td>
            <td><a href="#">Zahajovací závody + SILEZIAN mítink</a></td>
            <td><a href="#">Výsledky</a></td>
          </tr>
          <tr>
            <td>03.01</td>
            <td>Ostrava</td>
            <td><a href="#">Zahajovací závody + SILEZIAN mítink</a></td>
            <td><a href="#">Výsledky</a></td>
          </tr>
        </body>
      </table>
    </div>
    {% include "@components/gallery/gallery.twig" %}
  </div>
</section>
