<section class="heroSlider">
  <div class="container">
    <div class="swiper heroSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="heroSlider__item">
            <a href="#" class="heroSlider__link"></a>
            <picture>
              <source
                srcset="
                  https://picsum.photos/696/364  1x,
                  https://picsum.photos/1392/728 2x
                "
                media="(max-width: 768px)"
              />

              <source
                srcset="
                  https://picsum.photos/1392/728  1x,
                  https://picsum.photos/2784/1456 2x
                "
              />

              <img
                src="https://picsum.photos/1392/728"
                alt="Hero section image"
                width="1392"
                height="728"
                loading="eager"
                decoding="async"
              />
            </picture>
            <div class="heroSlider__content">
              <h1 class="heroSlider__title">Čiba Sport</h1>
              <a href="#" class="btn-primary">Přihlásit</a>
            </div>
            <ul class="heroSlider__social">
              <li>
                <a href="#">
                  <img
                    width="17"
                    height="16"
                    src="images/ico/instagram.svg"
                    alt="instagram"
                  />
                </a>
              </li>
              <li>
                <a href="#">
                  <img
                    width="17"
                    height="16"
                    src="images/ico/facebook.svg"
                    alt="facebook"
                  />
                </a>
              </li>
              <li>
                <a href="#">
                  <img
                    width="17"
                    height="16"
                    src="images/ico/video.svg"
                    alt="video"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="heroSlider__item">
            <a href="#" class="heroSlider__link"></a>
            <picture>
              <source
                srcset="
                  https://picsum.photos/696/364  1x,
                  https://picsum.photos/1392/728 2x
                "
                media="(max-width: 768px)"
              />

              <source
                srcset="
                  https://picsum.photos/1392/728  1x,
                  https://picsum.photos/2784/1456 2x
                "
              />

              <img
                src="https://picsum.photos/1392/728"
                alt="Hero section image"
                width="1392"
                height="728"
                loading="eager"
                decoding="async"
              />
            </picture>
            <div class="heroSlider__content">
              <h1 class="heroSlider__title">VÍTEJTE</h1>
              <p class="text-regular-lg text-white">
                Na stránkách sportovní organizace Čiba sport athletic, která
                zabezpečuje sportovní činnost v atletickém prostředí.
              </p>
            </div>
            <ul class="heroSlider__social">
              <li>
                <a href="#">
                  <img
                    width="17"
                    height="16"
                    src="images/ico/instagram.svg"
                    alt="instagram"
                  />
                </a>
              </li>
              <li>
                <a href="#">
                  <img
                    width="17"
                    height="16"
                    src="images/ico/facebook.svg"
                    alt="facebook"
                  />
                </a>
              </li>
              <li>
                <a href="#">
                  <img
                    width="17"
                    height="16"
                    src="images/ico/video.svg"
                    alt="video"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-button-next">
        <img src="images/ico/right.svg" alt="" />
      </div>
      <div class="swiper-button-prev">
        <img src="images/ico/left.svg" alt="" />
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
