.heroSlider {
  background: linear-gradient(
    180deg,
    #1f0b0c 0%,
    #3a1214 35%,
    #5a1a1c 65%,
    #7f1f21 100%
  );
  padding-top: 16px;
  padding-bottom: 56px;
  &__item {
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.3) 78.3%
      );
    }
    picture {
      aspect-ratio: 1392/728;
      min-height: 540px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    padding: 0 100px;
    margin: 0 auto;
    text-align: center;
    @include media-breakpoint-down(md) {
      padding: 0 32px;
    }
  }
  &__title {
    font-weight: 900;
    font-style: Italic;
    font-size: 128px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: var(--color-light);
    text-transform: uppercase;
    margin-bottom: 32px;
    @include media-breakpoint-down(lg) {
      font-size: 60px;
      margin-bottom: 24px;
    }
  }
  .btn-primary {
    min-width: 8rem;
    padding: 14px 19px;
    justify-content: center;
    backdrop-filter: blur(12px);
    z-index: 5;
  }
  &__social {
    position: absolute;
    left: 8px;
    bottom: 8px;
    z-index: 5;
    background: rgba(#1d1d1be5, 0.9);
    backdrop-filter: blur(68px);
    display: flex;
    align-items: center;
    border-radius: 8px;
    height: 64px;
    padding: 0 16px;
    gap: 16px;

    a {
      display: block;
      width: 18px;
      height: 18px;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.05);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
