body {
  font-family: "Inter", sans-serif;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;

  width: min(93rem, 100%);
  left: 50%;
  transform: translateX(-50%);

  background-image: linear-gradient(to right, #aaaaaa30 0 0),
    repeating-linear-gradient(
      to right,
      transparent 0,
      transparent calc(100% / 6 - 2px),
      #aaaaaa30 calc(100% / 6 - 2px),
      #aaaaaa30 calc(100% / 6)
    ),
    linear-gradient(to left, #aaaaaa30 0 0);

  background-size: 2px 100%, 100% 100%, 2px 100%;

  background-position: 0 0, 0 0, 100% 0;

  background-repeat: no-repeat;

  @include media-breakpoint-down(md) {
    background-image: linear-gradient(to right, #aaaaaa30 0 0),
      repeating-linear-gradient(
        to right,
        transparent 0,
        transparent calc(100% / 3 - 2px),
        #aaaaaa30 calc(100% / 3 - 2px),
        #aaaaaa30 calc(100% / 3)
      ),
      linear-gradient(to left, #aaaaaa30 0 0);
  }
}
