.btn-primary {
  cursor: pointer;
  padding: 10px 32px;
  display: inline-flex;

  gap: 8px;
  min-width: 160px;
  align-items: center;
  border-radius: 128px;
  border: 1px solid var(--color-light);
  color: var(--color-light);
  background: transparent;
  transition: all 0.3s;
  text-decoration: none;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: -0.02em;
  svg path {
    transition: all 0.3s;
  }
  &:hover {
    background: var(--color-light);
    color: var(--color-secondary);
    svg path {
      stroke: var(--color-secondary);
    }
  }
}
