.pagination {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  .page-link {
    background-color: var(--text-inverse);
    border: 1px solid var(--text-inverse);
    border-radius: 0.25rem !important;
    color: var(--text-primary);
    &:hover {
      border: 1px solid var(--color-accent);
    }
  }
  .page-item.active .page-link {
    background: var(--color-accent);
    color: var(--color-light);
    border: 1px solid var(--color-accent);
  }
  .page-item.disabled .page-link {
    opacity: 0.5;
  }
}
