.table,
.o-content table {
  width: 100%;
  border-collapse: collapse;
  th {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    padding: 8px 16px;
    border-top: none;
    border-bottom: 2px solid var(--color-secondary) !important;
    @include media-breakpoint-down(sm) {
      padding: 8px 8px;
    }
  }
  td {
    font-size: 14px;
    line-height: 140%;
    vertical-align: middle;
    padding: 12px 16px;
    border-bottom: 1px solid var(--text-secondary);
    @include media-breakpoint-down(sm) {
      padding: 12px 8px;
      white-space: nowrap;
    }
  }
  td a {
    color: var(--color-accent);
    text-decoration-color: transparent;
    font-weight: 500;

    &:hover {
      text-decoration-color: inherit;
    }
  }
}
