.o-content h1,
.h2 {
  font-weight: 800;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: 0%;
  @include media-breakpoint-down(lg) {
    font-size: 36px;
  }
}
.o-content h3,
.h3 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 38px;
  @include media-breakpoint-down(lg) {
    font-size: 2rem;
  }
}
.o-content h4,
.h4 {
  font-size: 2rem;
  line-height: 125%;
  @include media-breakpoint-down(lg) {
    font-size: 1.5rem;
  }
}
.o-content h5,
.h5 {
  font-size: 24px;
  line-height: 125%;
}
.o-content h6,
.h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: var(--text-secondary);
}
.text-bold-5xl {
  font-weight: 700;
  font-size: 40px;
  line-height: 38px;
  letter-spacing: 0%;
}
.text-semibold-2xl {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.02em;
}

.text-regular-lg {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: -0.01em;
  @include media-breakpoint-down(md) {
    font-size: 1rem;
  }
}
.text-bold-md {
  font-weight: 700;
  font-size: 1rem;
  line-height: 140%;
  letter-spacing: -0.01em;
}
.text-regular-md {
  font-size: 1rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.01em;
}
.text-regular-sm {
  font-size: 0.875rem;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.01em;
}
.text-medium-sm {
  font-size: 0.875rem;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: -0.01em;
}
.text-medium-xs {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 16px;
}
.text-regular-xxs {
  font-size: 10px;
  line-height: 100%;
}
