.o-content h3,
.h3 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 38px;
    @include media-breakpoint-down(lg){
      font-size: 2rem;
    }
}
.text-semibold-2xl {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.02em;
}

.text-regular-lg {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: -0.01em;
  @include media-breakpoint-down(md) {
    font-size: 1rem;
  }
}
.text-regular-md {
  font-size: 1rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.01em;
}
.text-regular-sm {
  font-size: 0.875rem;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.01em;
}
.text-medium-sm {
  font-size: 0.875rem;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: -0.01em;
}
.text-medium-xs {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 16px;
}
