/*! purgecss start ignore */

.heroSwiper {
  overflow: visible;
  .swiper-button-next,
  .swiper-button-prev {
    background: var(--text-primary);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    transition: all 0.3s;
    @include media-breakpoint-down(md) {
      display: none;
    }
    &:hover {
      transform: translateY(-50%) scale(1.05);
    }
    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
  }
  .swiper-button-next {
    right: 8px;
  }
  .swiper-button-prev {
    left: 8px;
  }

  .swiper-pagination {
    position: absolute;
    width: fit-content;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 36px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    @include media-breakpoint-down(md) {
      bottom: -24px;
    }
  }
  .swiper-pagination .swiper-pagination-bullet {
    background: var(--color-light-gray);
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    opacity: 1;
    display: block;
    cursor: pointer;
    margin: 0;
  }
  .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--color-light);
  }
}

/*! purgecss end ignore */
