<section class="archive-section pb-lg-14 pt-lg-16 py-8 section">
  <div class="container">
    <h1 class="h2 text-primary mb-lg-8 mb-4">Archiv článků</h1>
    <div class="row g-6">
      {% for i in 1..10 %}
      <div class="col-xl-3 col-lg-4 col-md-6">
        <a class="postCard" href="#">
          <picture>
            <source
              srcset="
                https://picsum.photos/196/245 1x,
                https://picsum.photos/392/490 2x
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://picsum.photos/392/490 1x,
                https://picsum.photos/784/980 2x
              "
            />
            <img
              src="https://picsum.photos/392/490"
              alt="post"
              width="392"
              height="490"
              loading="lazy"
            />
          </picture>
          <div class="postCard__content">
            <h4 class="text-semibold-2xl text-white text-shadow">
              V sobotu 15. 11. se konalo Mistrovství Moravy a Slezska
              v přespolním běhu
            </h4>
            <p class="text-regular-sm text-white-76">
              Ve středečním zápase se rozhodlo o dalších semifinalistech.
              Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
              Košické Lvi, které se po deseti letech nedostaly do semifinále,
              podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
              Semifinále tak opět přinese vzrušující městské derby.
            </p>
            <div class="text-medium-xs text-white-76">4. 10. 2025</div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <nav class="mt-8" aria-label="pagination ">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
