.header {
  top: 24px;
  position: sticky;
  z-index: 99999;
  margin-bottom: -64px;
  transition: all 0.3s;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 0 8px;
    position: relative;
    @include media-breakpoint-down(xl) {
      padding: 0;
    }
  }
  &__logo {
    width: 103px;
    height: 49px;
    display: block;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__box {
    align-items: center;
    background: rgba(29, 29, 27, 0.9);
    backdrop-filter: blur(68px);
    border-radius: 8px;
    height: 64px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
  }
}
.header.is-scrolled {
  top: 8px;
}

// navigation menu
.navbar {
  padding-left: 24px;
  margin-left: 24px;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    height: 42px;
    opacity: 0.2;
    width: 1px;
    background: var(--color-light);
  }
}
.navbar-nav {
  display: flex;
  align-items: center;
  gap: 32px;
  height: 100%;
  @include media-breakpoint-down(xl) {
    gap: 1rem;
  }
  li {
    height: 100%;
  }
}

.nav-link {
  color: var(--color-light);
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: -0.02em;
  white-space: nowrap;
  height: 100%;
  transition: all 0.3s;
  position: relative;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 0;
    height: 2px;
    background: currentColor;
    transform: translateX(-50%);
    transition: width 0.35s ease;
  }
  &:focus,
  &:hover {
    color: var(--color-light);
    &::before {
      width: 100%;
    }
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 33;
  width: max-content;
  background-color: transparent;
  top: calc(100% + 8px);
  min-width: 180px;
  padding: 0px 0px 0px;
  flex-direction: column;
  padding-top: 8px;
  border-top: none;
  @include media-breakpoint-down(xl) {
    width: 100%;
    padding-bottom: 0;
    box-shadow: none;
    gap: 1rem;
    padding-top: 1rem;
  }

  a {
    display: block;
    width: 100%;
    text-decoration-color: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-light);
    background-color: var(--color-secondary);
    padding: 12px 24px;
    font-family: var(--font-display);
    border-bottom: 1px solid rgba(#ffff, 0.33);
    @include media-breakpoint-down(xl) {
      width: 100%;
      text-align: center;
      padding: 0;
      color: rgba(#ffff, 0.6);
      height: auto;
      background-color: transparent;
      font-size: 1rem;
      line-height: 1.5;
      border: none;
    }
    &:hover {
      color: var(--color-light);
      background: var(--color-accent);
      @include media-breakpoint-down(xl) {
        background: transparent;
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .dropdown {
    .dropdown-menu {
      display: none;
    }
  }
  .dropdown,
  .dropend {
    &:hover {
      & > .dropdown-menu {
        display: block;
      }
    }
  }
  .dropdown {
    &:hover {
      & > .dropdown-menu {
        margin-top: -0.5rem;
      }
    }
  }
  .dropend {
    position: relative;
    &:hover {
      .dropdown-menu {
        position: absolute;
        top: -0.5rem;
        left: 100%;
        margin-left: 0;
        visibility: visible;
        overflow: visible;
      }
    }
  }
}
.mobileMenu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: all 0.3s ease-out;
  right: 0px;
  left: 0;
  z-index: 99999;
  top: calc(100% + 2px);
  margin: 0 auto;
  align-items: center;
  background: rgba(29, 29, 27, 0.9);
  backdrop-filter: blur(68px);
  height: calc(100vh - 93px);
  padding: 32px 20px 16px;
  text-align: center;
  width: calc(100% - 16px);
  min-height: max-content;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-breakpoint-down(xl) {
    width: 100%;
  }
  .social {
    margin-top: 32px;
  }
  .navbar-nav {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .nav-item {
    height: auto;
  }
  .nav-link {
    padding-bottom: 12px;
    font-size: 18px;
    justify-content: center;
    height: auto;
  }
  .nav-link::before {
    bottom: 0;
  }
  .dropdown-menu {
    transform: none !important;
    display: none !important;
    width: 100%;
    background: transparent;
  }
  .dropdown-menu.show {
    @include media-breakpoint-down(xl) {
      display: flex !important;
      position: relative !important;
    }
  }
}
.is-nav-open .mobileMenu {
  visibility: visible;
  opacity: 1;
}
