<footer class="footer">
  <div class="container">
    <div class="row g-md-10 justify-content-between mb-lg-12 mb-8">
      <div class="col-xl-4 col-12">
        <div class="footer__brand">
          <a class="footer__logo" href="/">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
          </a>
          <ul class="d-grid gap-4 text-white">
            <li class="d-flex gap-4">
              <img
                class="object-fit-contain"
                width="24"
                height="24"
                src="images/ico/location.svg"
                loading="lazy"
                alt="ico"
              />
              <div class="text-medium-sm">
                <div>Kovalovice 206</div>
                <div>664 06 Viničné</div>
                <div>Šumice</div>
              </div>
            </li>
            <li class="d-flex align-items-center gap-4">
              <img
                class="object-fit-contain"
                width="24"
                height="24"
                src="images/ico/phone.svg"
                loading="lazy"
                alt="ico"
              />
              <a href="tel:+420602728035" class="text-medium-sm hover-outline">
                +420 602 728 035
              </a>
            </li>
            <li class="d-flex align-items-center gap-4">
              <img
                class="object-fit-contain"
                width="24"
                height="24"
                src="images/ico/mail.svg"
                loading="lazy"
                alt="ico"
              />
              <a
                href="mailto:cibasport@cibasport.cz"
                class="text-medium-sm hover-outline"
              >
                cibasport@cibasport.cz
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-auto col-12">
        <nav class="footer-nav d-md-block d-none">
          <ul
            class="d-flex text-white text-regular-md hover-outline gap-8 justify-content-lg-start justify-content-center flex-wrap"
          >
            <li>
              <a href="#" class="">O nás</a>
            </li>
            <li>
              <a href="#" class="">Čiba team</a>
            </li>
            <li>
              <a href="#" class="">Staň se atletem</a>
            </li>
            <li>
              <a href="#" class="">Závody</a>
            </li>
            <li>
              <a href="#" class="">Fotogalerie</a>
            </li>
            <li>
              <a href="#" class="">Naše služby</a>
            </li>
            <li>
              <a href="#" class="">Odkazy</a>
            </li>
          </ul>
        </nav>
        <div class="mt-lg-20 mt-8">
          {% include "@components/social/social.twig" %}
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <ul
        class="d-flex gap-lg-10 gap-6 text-medium-xs text-white hover-outline flex-wrap justify-content-lg-start justify-content-center"
      >
        <li>
          <a
            href="javascript:void(0);"
            data-cc="c-settings"
            aria-haspopup="dialog"
          >
            Cookies
          </a>
        </li>
        <li>
          <a href="#">Copyright</a>
        </li>
        <li>
          <a href="#">Fakturační údaje</a>
        </li>
        <li>
          <a href="#">Pristupnost</a>
        </li>
        <li>
          <a href="#">Podmínky použití webu</a>
        </li>
        <li>
          <a href="#">Obchodní podmínky</a>
        </li>
      </ul>
      <div class="d-flex align-items-center gap-3 text-medium-xs text-white">
        Vyrobeno v
        <a href="#" target="_blank">
          <img
            class="object-fit-contain"
            src="images/ico/esports.svg"
            width="70"
            height="21"
            alt="esports"
            loading="lazy"
          />
        </a>
        v roce 2025
      </div>
      <ul class="footer-numbers">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li class="d-md-block d-none">4</li>
        <li class="d-md-block d-none">5</li>
        <li class="d-md-block d-none">6</li>
      </ul>
    </div>
  </div>
</footer>
