.footer {
  padding-top: 56px;
  background: #44191a;
  overflow-x: hidden;
  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    gap: 24px;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
      justify-content: center;
      gap: 32px;
    }
  }
  &__logo {
    width: 103px;
    height: 49px;
    margin-bottom: 24px;
    display: block;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__brand {
    min-width: fit-content;
    @include media-breakpoint-down(lg) {
      justify-content: center;
      display: grid;
    }
  }
  .social {
    @include media-breakpoint-down(lg) {
      margin: 0 auto;
      justify-content: center;
    }
  }
}

.footer-numbers {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 32px;
  z-index: 2;
  width: 100%;
  text-align: center;
  color: #523031;
  font-size: 110px;
  font-weight: 900;
  line-height: 125%;
  font-style: italic;
  margin-top: 32px;
  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(3, 1fr);
    font-size: 80px;
    margin-top: 16px;
  }
}
