.form-shell {
  max-width: 460px;
  margin: 0 auto;
  padding: 10px 18px 28px;
}

.pill-control {
  height: 56px;
  border: 1px solid var(--text-primary);
  border-radius: 32px;
  padding: 0 22px;
  box-shadow: none !important;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: var(--color-dark);

  &::placeholder {
    color: var(--color-placeholder);
  }
}
.pill-control:focus {
  border-color: var(--color-secondary);
  box-shadow: none;
  outline: 1px solid var(--color-secondary);
}

.note-control {
  min-height: 210px;
  border: 1px solid var(--text-primary);
  border-radius: 32px;
  padding: 18px 22px;
  font-size: 14px;
  resize: vertical;
  box-shadow: none !important;
  width: 100%;
}
.note-control:focus {
  border-color: var(--color-secondary);
  box-shadow: none;
  outline: 1px solid var(--color-secondary);
}

.send-btn {
  margin: 0;
  height: 56px;
  border-radius: 128px;
  background: var(--text-primary);
  border: 0;
  font-size: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  cursor: pointer;
  letter-spacing: -0.02em;
  color: var(--color-light);
}
.send-btn:hover {
  background: var(--color-secondary);
}
