<section class="pb-lg-14 pb-8 section pt-lg-20 pt-10">
  <div class="container-sm">
    <h1 class="h2 text-center text-primary mb-lg-10 mb-6">Napište nám</h1>
    <div class="form-shell">
      <form class="row gx-2 gy-6 bg-white" action="#" method="post">
        <div class="col-12">
          <input
            type="text"
            class="pill-control"
            name="fullName"
            placeholder="Jméno a příjmení"
            required
          />
        </div>

        <div class="col-12">
          <input
            type="email"
            class="pill-control"
            name="email"
            placeholder="E-mail"
            required
          />
        </div>

        <div class="col-12">
          <input
            type="tel"
            class="pill-control"
            name="phone"
            placeholder="Telefon"
          />
        </div>

        <div class="col-12 col-md-7">
          <input
            type="text"
            class="pill-control"
            name="street"
            placeholder="Ulice"
          />
        </div>

        <div class="col-12 col-md-5">
          <input
            type="text"
            class="pill-control"
            name="houseNumber"
            placeholder="Číslo popisné"
          />
        </div>

        <div class="col-12">
          <input
            type="text"
            class="pill-control"
            name="city"
            placeholder="Město"
          />
        </div>

        <div class="col-12">
          <input
            type="text"
            class="pill-control"
            name="zip"
            placeholder="PSČ"
          />
        </div>

        <div class="col-12">
          <input
            type="text"
            class="pill-control"
            name="country"
            placeholder="Země"
            value="Česká republika"
          />
        </div>

        <div class="col-12">
          <textarea
            class="note-control"
            name="note"
            placeholder="Poznámka"
          ></textarea>
        </div>

        <div class="col-12">
          <button type="submit" class="send-btn w-100">Odeslat</button>
        </div>
      </form>
    </div>
  </div>
</section>
