:root {
  --color-light: #fff;
  --color-light-gray: #cbcccb;
  --color-dark: #000;

  --color-secondary: #3a1214;
  --color-accent: #7f1f21;
  --text-primary: #1d1d1b;
  --text-inverse: #e6e6dc;
  --text-secondary: #9e9f9e;
  --color-placeholder: #364043;

  --color-white-76: rgba(255, 255, 255, 0.76);

  --Background-Default-2: rgba(29, 29, 27, 1);
}
